h1
{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 20px;
}

body
{
    background-color: #006494;
}

#leftBorder, #rightBorder 
{
    background: #13293d;
    position: fixed;
    top: 0;
    bottom: 0;
    border-left: solid black 2px;
    border-right: solid black 2px;
}

#leftBorder 
{
    left: 0;
    margin-right: 10px;
}

#rightBorder 
{
    right: 0;
    margin-left: 10px;
}

#info
{ 
    background-color: #247ba0;
    border: solid black 2px;
    border-radius: 20px;
    padding: 20 20 20 20;
    color: black;
    font-weight: bold;
    margin-left: 37px;
    margin-bottom: 10px;
    float: left;
}

#poster
{
    border: solid black 2px;
    border-radius: 20px;
}