#theatre
{
  background-color: #247ba0;
  border: solid black 2px;
  border-radius: 20px;
  padding: 10 20 10 10;
  margin-left: 20px;
}

th
{
  padding-right: 20px;
  color: black;
  white-space: nowrap;
}

td 
{
    margin-left: 5px;
    position: relative;
    display: inline-block;
    color: black;
    padding-top: 12px;
    padding-left: 15px;
}

#seatsInfo
{
    font-weight: bold;
    color: black;
    text-align: center;
}

#total
{
  color:black;
  font-weight: bold;
  float: right;
}

#armchairsSelected, #sofasSelected
{
  font-weight: bold;
  color: black;
}

.sofa-vacant
{
  background:url(res/double_vacant.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}

.sofa-taken
{
  background:url(res/double_taken.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}

.sofa-chosen
{
  background:url(res/double_chosen.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}

.sofa-chosen-clicked
{
  background:url(res/double_chosen_click.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}

.sofa-vacant-clicked
{
  background:url(res/double_vacant_click.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}

.armchair-vacant
{
  background:url(res/single_vacant.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.armchair-taken
{
  background:url(res/single_taken.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.armchair-chosen
{
  background:url(res/single_chosen.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.armchair-chosen-clicked
{
  background:url(res/single_chosen_click.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.armchair-vacant-clicked
{
  background:url(res/single_vacant_click.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.empty
{
  background: inherit;
  background-size: cover;
  width: 60px;
  height: 60px;
}

.sofa-vacant:hover
{
  background:url(res/double_hover.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}

.armchair-vacant:hover
{
  background:url(res/single_hover.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.sofa-chosen:hover
{
  background:url(res/double_chosen_hover.png);
  background-size: cover;
  width: 60px;
  height: 60px;
}

.armchair-chosen:hover
{
  background:url(res/single_chosen_hover.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}
